ACCESS_TOKEN_SECRET=secretaccesstoken
REFRESH_TOKEN_SECRET=secretrefreshtoken
ACCESS_TOKEN_COOKIE_NAME=myapp_atoken
REFRESH_TOKEN_COOKIE_NAME=myapp_rtoken

DB_CONNECTION=mongodb://localhost:27017/tamago-start

DISCORD_CLIENT_ID=
DISCORD_SECRET_ID=

NODE_ENV=development
DOMAIN=localhost
SERVER_URL=http://localhost:3001
FRONTEND_URL=http://localhost:5173

VITE_SERVER_URL=http://localhost:3001
